---
layout: default
skills: [HTML/HAML/ERB, CSS, Tailwind, Ruby on Rails, Git, Figma, Sketch, Illustrator, Photoshop, InDesign, Glyphs]
---

<div class="flex flex-col gap-12 sm:gap-20">
  <div class="flex flex-col gap-8 sm:w-3/5">
    <p>Hello, my name is Griffin Moore. I am a Product Designer with 12 years of experience building straightforward and usable interfaces.</p>
    <p>I am also experienced in front-end code, illustration, as well as icon and type design.</p>
  </div>
  <div class="flex flex-col gap-6 sm:gap-8">
    <div class="flex">
      <span class="flex-1">Delighted</span>
      <span>2016 – Today</span>
    </div>
    <div class="rounded-md flex flex-col gap-8 sm:bg-gray-300 sm:px-20 sm:py-20 sm:gap-24">
      {% for image in site.static_files %}
        {% if image.path contains 'images/delighted' %}
          <img class="border rounded-md sm:border-0 sm:shadow-md" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="flex flex-col gap-6 sm:gap-8">
    <div class="flex">
      <span class="flex-1">Treehouse</span>
      <span>2012 – 2016</span>
    </div>
    <div class="rounded-md flex flex-col gap-8 sm:bg-gray-300 sm:px-20 sm:py-20 sm:gap-24">
      {% for image in site.static_files %}
        {% if image.path contains 'images/treehouse' %}
          <img class="border rounded-md sm:border-0 sm:shadow-md" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="flex flex-col gap-8 sm:w-3/5">
    <p>My fonts can be found at <a href="https://www.monolithfoundry.com" target="_blank">Monolith Foundry</a>– a Rails app I built myself. Additional work samples can be made available in interview phase.</p>
  </div>
  <div class="flex flex-col gap-8">
    <p>Technologies</p>
    <ul class="list-none flex flex-wrap gap-3">
      {% for skill in page.skills %}
        <li class="px-3.5 py-1 border rounded">{{ skill }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
