---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7E0DA;
  font-family: 'RangeMono';
  @apply text-gray-800;
}

@font-face {
  font-family: 'RangeMono';
  src: url('/assets/fonts/RangeMono-Regular.woff2') format('woff2'),
      url('/assets/fonts/RangeMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
