---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
  font-family: 'Visuelt';
  @apply text-gray-700;
}

@font-face {
  font-family: 'Visuelt';
  src: url('/assets/fonts/visuelt-regular.woff2') format('woff2'),
      url('/assets/fonts/visuelt-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
