---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
}


@font-face {
  font-family: 'basis-grotesque-medium';
  src: url('/assets/fonts/basis-grotesque-medium.woff2') format('woff2'),
      url('/assets/fonts/basis-grotesque-medium.woff') format('woff'),
      url('/assets/fonts/basis-grotesque-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a {
  @apply pb-0.5;
  @apply border-b-2;
  @apply border-gray-500;

  &:hover {
    @apply text-blue-500;
    @apply border-blue-500;
  }
}

h2 {
  font-family: "basis-grotesque-medium";
  @apply uppercase;
  @apply text-xl;
}
